.submit-now {
  margin-top: 20px;
  font-size: 16px;
  width: 200px;
  height: 50px;
  background-color: #98523c !important;
  border-color: transparent;
}

.form-control.input {
  border: 0;
  background: transparent;
  border-bottom: 1px solid silver;
  border-radius: 0px !important;
}

.getintouch {
  height: auto;
  /*background-image: url("Get In touch/GetInTouch.png");*/
  background-size: cover;
  background-repeat: no-repeat;
}

input[type="text"], input[type="email"], input[type="tel"], textarea {
  border-radius: 0 !important;
}

input[type="text"], input[type="email"], input[type="tel"], textarea {
  border-radius: 8px !important;
}

.modern-form {
  padding-top: 80px;
  padding-bottom: 80px;
}

.modern-form__hr {
  border-color: #4daade;
  border-width: 2px;
  width: 121px;
}

.modern-form__form-container {
  padding-top: 100px;
}

.modern-form__form-group--padding-r {
  padding-right: 20px;
}

.modern-form__form-group--padding-t {
  padding-top: 50px;
}

.modern-form__form-control--textarea {
  height: 95px !important;
  resize: none;
}

.submit-now:hover {
  color: #98523c;
  border: solid 1px;
}

.submit-now.itaim-bibi:hover {
  color: #131416 !important;
}

.submit-now.portugal:hover {
  color: #bababa !important;
}

.submit-now:hover {
  color: #98523c !important;
}

@media (max-width: 990px) {
  .navbar-light {
    background: #98523c !important;
    /*color: #ffffff;*/
  }
}

@media (max-width: 990px) {
  .navbar-light.portugal-navbar {
    background: #bababa !important;
    /*color: #ffffff;*/
  }
}

@media (max-width: 990px) {
  .navbar-light.stella-navbar {
    background: #98523c !important;
    /*color: #ffffff;*/
  }
}

@media (max-width: 990px) {
  .navbar-light.itaim-bibi-navbar {
    background: #131416 !important;
    /*color: #ffffff;*/
  }
}

@media (max-width: 768px) {
  .navbar-brand {
  }
}

@media (max-width: 768px) {
  .masthead {
    background-image: url('../../assets/img/stella_fachada.webp');
  }
}

@media (max-width: 768px) {
  .masthead.itaim-bibi {
    background-image: url('../../assets/img/itaim-bibi/itaim-mobile.webp');
  }
}

@media (max-width: 768px) {
  .masthead.portugal {
    background-image: url('../../assets/img/portugal/Portugal-mobile.webp');
  }
}

@media (max-width: 1200px) {
  .navbar-nav {
    padding-right: 20px !important;
  }
}

.likedinlink:hover {
  color: #98523c;
}

.telctn:hover {
  color: #98523c!important;
}

.telctn.itaim-bibi:hover {
  color: rgba(19,20,22,0.7)!important;
}

.telctn.portugal:hover {
  color: rgb(186,186,186)!important;
}

.masthead {
}

.submit-now.itaim-bibi:hover {
  background: #ffffff !important;
}

.submit-now.portugal:hover {
  background: #ffffff !important;
}

.submit-now.itaim-bibi {
  background: #131416 !important;
}

.submit-now.portugal {
  background: #bababa !important;
}

.bs-icon-circle.bs-icon-primary.bs-icon.portugal {
  background-color: #ffffff;
  color: #bababa;
}

h1 {
}

@media (max-width: 460px) {
  .portugalh1 {
    font-size: 53px !important;
  }
}

