@font-face {
	font-family: 'Futura';
	src: url(../../assets/fonts/Futura-Bold.woff2?h=1d974f0f8e3297fc2ca55aae45bce51d) format('woff2'),
	url(../../assets/fonts/Futura-Bold.woff?h=1d974f0f8e3297fc2ca55aae45bce51d) format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: auto;
}