@font-face {
	font-family: 'Futura Hv BT';
	src: url(../../assets/fonts/FuturaBT-Heavy.woff2?h=1d974f0f8e3297fc2ca55aae45bce51d) format('woff2'),
	url(../../assets/fonts/FuturaBT-Heavy.woff?h=1d974f0f8e3297fc2ca55aae45bce51d) format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: auto;
}